<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
      {% load static %}
    {% endblock title%}
    <link rel="icon" href="{% static 'Icon-logo.png' %}">
    <link rel="stylesheet" href="{% static 'CSS/site.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header class="navigation">
    <nav>
        <a href="{% url 'home' %}"><img align="middle" src="{% static 'Logo.webp' %}" height="150"></a>
        <a href="{% url 'login' %}"><button>Войти</button></a>
        <a href="{% url 'signin' %}"><button>Регистрация</button></a>
        <a href="{% url 'user' %}"><button>Моя страница</button></a>
        <a href="{% url 'fitness' %}"><button>ФитнесКлуб</button></a>
        <a href="{% url 'feedback' %}"><button>Отзывы</button></a>
        <a href="{% url 'coupons' %}"><button>Купоны</button></a>
    </nav>
</header>
{% block content %}
{% endblock content %}
<script src="{% static 'JS/site.js' %}"></script>
<footer>
    <a href="{% url 'all_instructors' %}"><button>Инструкторы</button></a>
    <a href="{% url 'workouts' %}"><button>Занятия</button></a>
</footer>
</body>
</html>