{% extends "FitnessLayout.html" %}
{% block title %}<title>Фитнес</title>{% endblock title %}
{% block content %}
<div align="center">
    <img src="{{instructor.photo.url}}">
    <p><b>ФИО: </b> {{instructor.fullname}}</p>
    <p><b>Возраст: </b>{{instructor.age}}</p>
    <p><b>Номер телефона: </b>{{instructor.phone_number}}</p>
    {% if instructor.about %}
    <p><b>О себе: </b>{{instructor.about}}</p>
    {% else %}
    <p>Этот инструктор не оставил ничего о себе</p>
    {% endif %}
    <a href="{% url 'all_instructors' %}"><button>Вернуться</button></a>
</div>
{% endblock content %}