{% extends "ManyElements.html" %}
{% block title %} Сотрудники {% endblock title %}
{% block header %} Сотрудники {% endblock header %}
{% block content %}
    {% if employees %}
    <div class="instructors-container">
        {% for el in employees%}
        <div class="instructor">
            {% if el.photo %}
                <img src="{{el.photo.url}}">
            {% else %}
                <p>Фото отсутствует(</p>
            {% endif %}
            <p><b>ФИО: </b>{{el.fullname}}</p>
            <p><b>Возраст: </b>{{el.age}}</p>
            <p><b>Номер телефона: </b>{{el.phone_number}}</p>
            {% if el.about %}
                <p><b>О себе: </b>{{el.about|truncatechars:100}}</p>
            {% else %}
                <p>Этот инструктор не оставил ничего о себе</p>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% else %}
    <p>Вы все уволены!</p>
    {% endif %}
{% endblock content %}