{% extends "ManyElements.html" %}
{% block title %} FAQ {% endblock title %}
{% block header %} Самые частые вопросы {% endblock header %}
{% block content %}
    {% if faqs %}
<aside>
    <div>
    {% for el in faqs%}
        <details class="faq">
            <summary>{{el.question}}</summary>
            <p>Дата: {{el.date}}</p>
            <p>Ответ: {{el.answer}}</p>
        </details>
    {% endfor %}
    </div>
    {% else %}
    <p>Вопросы? Вопросов нет!</p>
</aside>
    {% endif %}
{% endblock content %}