{% extends "Layout.html" %}
{% block title %}
    <title>Главная</title>
    {% load static %}
{% endblock title %}
{% block content %}
<div align="center">
    <h1 class="company-name" style="font-size: 100px;">Фитнесс клуб</h1>
    <div class="scene">
        <div class="person cycling">
          <div class="legs"></div>
          <div class="bike"></div>
        </div>
        <div class="jumping">
            <img src="{% static 'skakalka_bez_devochki.png' %}"/>
        </div>
    </div>

    <h2>Глaвная</h2>
    <p>
         Текущая дата: {{ cur_time|date:"d/m/Y" }}
    </p>
    <p>
         Ваша таймзона: {{ tz }}
    </p>
    <pre style="font-size: 16px;">
        {{calendar}}
    </pre>
    {% comment %}
    <table style="display: inline-block;">
        {% if calendar %}
            {% for row in calendar %}
                <tr>
                    <td>
                    {{row}}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    {% endcomment %}
    <h2>Баннер</h2>
    <img src="{% static 'banner_1.png' %}"
     sizes="(max-width: 40em) 100vw, 50vw"
    srcset="{% static 'banner_1.png' %} 1694w,
            {% static 'banner_2.png' %} 1496w,
            {% static 'banner_3.png' %} 1485w">
    <article class="last-info news">
        <h3>Последняя опубликованная статья</h3>
        {% if article %}
            <p>Дата публикации: {{article.date}}<p>
            <p>Название: {{article.title}}</p>
            <p>Описание: {{article.description}}</p>
            <p class="news">Текст: {{article.text}}</p>
        {% else %}
            <p>Статей пока не было(</p>
        {% endif %}
    </article>
    <details open>
        <summary>Кошечки - Собачки</summary>
        {% if cat %}
        <h2>Рандомный факт о кошках</h2>
        <p>{{cat.fact}}</p>
        {% endif %}
        <audio controls autoplay>
            <source src="{% static 'mmmrrr.mp3' %}" />
            Audio content cannot be played
        </audio>
        {% if dog %}
        <h2>Рандомная фотография собаки</h2>
        <img src="{{dog.message}}" width="300" height="300" style="object-fit:cover;">
        {% endif %}
    </details>
    <div align="left">
        <aside>
            <h3>Наши партнеры</h3>
            <ul type="square">
                {% if partners %}
                {% for partner in partners %}
                    <li class="circle_blocks"><a target="_blank" href="{{partner.url}}"><img align='middle' src = "{{partner.logo.url}}"></a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </aside>
    </div>
</div>
{% endblock content %}