<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
      {% load static %}
    {% endblock title%}
    <style>
        .main-content {
            display: none;
        }
    </style>
    <link rel="icon" href="{% static 'Icon-logo.png' %}">
    <link rel="stylesheet" href="{% static 'CSS/site.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header class="main-content after-preload">
    <nav class="navigation">
        <a href="{% url 'home' %}"><img align="middle" src="{% static 'Logo.webp' %}" height="150"></a>
        <a href="{% url 'privacy' %}">Конфиденциальность</a>
        <a href="{% url 'info' %}"><button>О компании</button></a>
        <a href="{% url 'news' %}"><button>Новости</button></a>
        <a href="{% url 'faq' %}"><button>FAQ</button></a>
        <a href="{% url 'employees' %}"><button>Сотрудники</button></a>
        <a href="{% url 'vacancies' %}"><button>Вакансии</button></a>
        <a href="{% url 'feedback' %}"><button>Отзывы</button></a>
        <a href="{% url 'coupons' %}"><button>Купоны</button></a>
        <a href="{% url 'fitness' %}"><button>ФитнесКлуб</button></a>
        <a href="{% url 'polygon1' %}"><button>Полигон тегов 1</button></a>
        <a href="{% url 'polygon2' %}"><button>Полигон тегов 2</button></a>
    </nav>
</header>
<div class="loader-container"><div class="loader"></div></div>
<!-- exercise_3 -->
<div id="after-preload">
    <!-- exercise_6 -->
    <div id="check-birthday-date">
        <h2>Пожалуйста, введите вашу дату рождения</h2>
        <label for="birthdate">Дата рождения:</label>
        <input type="date" id="birthdate">
        <button onclick="checkAge()">Проверить</button>
    </div>
    <!-- exercise_6 -->

    <div class="main-content">
        {% block content %}
        {% endblock content %}
    </div>
</div>
<!-- exercise_3 -->

<script src="{% static 'JS/site.js' %}"></script>
<footer class="after-preload">
    <p>Рандомный текст сгенерированный моим мозгом, для того чтобы заполнить тег футер!</p>
</footer>
</body>
</html>