<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default_Title{% endblock title %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'Icon-logo.png' %}">
    <link rel="stylesheet" href="{% static 'CSS/site.css' %}">
</head>
<header class="navigation">
    <nav>
        <a href="{% url 'home' %}"><img align="middle" src="{% static 'Logo.webp' %}" height="150"></a>
        <a href="{% url 'privacy' %}">Конфиденциальность</a>
        <a href="{% url 'info' %}"><button>О компании</button></a>
        <a href="{% url 'news' %}"><button>Новости</button></a>
        <a href="{% url 'faq' %}"><button>FAQ</button></a>
        <a href="{% url 'employees' %}"><button>Сотрудники</button></a>
        <a href="{% url 'vacancies' %}"><button>Вакансии</button></a>
        <a href="{% url 'feedback' %}"><button>Отзывы</button></a>
        <a href="{% url 'coupons' %}"><button>Купоны</button></a>
        <a href="{% url 'fitness' %}"><button>ФитнесКлуб</button></a>
        <a href="{% url 'polygon1' %}"><button>Полигон тегов 1</button></a>
        <a href="{% url 'polygon2' %}"><button>Полигон тегов 2</button></a>
    </nav>
</header>
<main>
    <div align="center">
        <h2>{% block header %}   {% endblock header%}</h2>
        <br/>
        {% block content%}

        {% endblock content%}
    </div>
</main>
</html>